<section class="todos">
  <form [formGroup]="todoForm" (ngSubmit)="saveOrEditTodo()">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="form-group mb-3">
          <label for="todoTitle">Title</label>
          <input class="form-control" id="todoTitle" name="todoTitle" formControlName="todoTitle" />
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group mb-3">
          <label for="todoCompleted">Completed:</label>
          <br />
          <p-toggleswitch formControlName="todoCompleted" id="todoCompleted" name="todoCompleted" />
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-danger me-2" (click)="cancelTodo()">
          <fa-icon [icon]="cancelDeleteIcon"></fa-icon>
          Cancel
        </button>
        <button type="submit" class="btn btn-success">
          @if (currentTodoId) {
            <fa-icon [icon]="editIcon"></fa-icon>
            Edit Todo
          } @else {
            <fa-icon [icon]="saveIcon"></fa-icon>
            Save Todo
          }
        </button>
      </div>
    </div>
  </form>
  <hr />
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Completed</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (todo of todos; track todo.id) {
          <tr>
            <td>{{todo.title}}</td>
            <td>
              <span [ngClass]="{'text-success':todo.completed,'text-danger':!todo.completed}">
                {{todo.completed ? 'Yes' : 'No'}}
              </span>
            </td>
            <td>
              <div class="btn-group">
                <button type="submit" class="btn btn-primary" (click)="editTodo(todo)">
                  <fa-icon [icon]="editIcon"></fa-icon>
                </button>
                <button type="submit" class="btn btn-danger">
                  <fa-icon [icon]="cancelDeleteIcon"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        } @empty {
          <tr>
            <td colspan="3">There are no Todos here. Add one!</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
