<section class="users">
  <form [formGroup]="userForm">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="form-group mb-3">
          <label for="userName">Name</label>
          <input class="form-control" id="userName" name="userName" formControlName="name"/>
          @if (userName.touched && userName.invalid) {
            @if (userName.errors['required']) {
              <div class="text-danger">
                This field is required
              </div>
              <br/>
            }
          }
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group mb-3">
          <label for="userUsername">Username</label>
          <input class="form-control" id="userUsername" name="userUsername" formControlName="username"/>
          @if (userUsername.touched && userUsername.invalid) {
            @if (userUsername.errors['required']) {
              <div class="text-danger">
                This field is required
              </div>
              <br/>
            }
          }
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="form-group mb-3">
          <label for="userEmail">Email</label>
          <input class="form-control" id="userEmail" name="userEmail" formControlName="email"/>
          @if (userEmail.touched && userEmail.invalid) {
            @if (userEmail.errors['required']) {
              <div class="text-danger">
                This field is required
              </div>
              <br/>
            }
            @if (userEmail.errors['email']) {
              <div class="text-danger">
                Email field value is invalid
              </div>
              <br/>
            }
          }
        </div>
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-danger me-2">
          <fa-icon [icon]="cancelDeleteIcon"></fa-icon> Cancelar
        </button>
        <button type="submit" class="btn btn-success" [disabled]="userForm.invalid">
          <fa-icon [icon]="saveIcon"></fa-icon> Save user 
        </button>
      </div>
    </div>
  </form>

  <hr/>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of users; track user.id) {
          <tr>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
              <div class="btn-group">
                <button class="btn btn-primary">
                  <fa-icon [icon]="editIcon"></fa-icon>
                </button>
                <button class="btn btn-danger">
                  <fa-icon [icon]="cancelDeleteIcon"></fa-icon>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>

